@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght:700&display=swap');
.banner .text {
	font-family: "Roboto Slab", serif;
}

body {
  font-family: Arial, sans-serif;
}
blockquote {
  font-family: "Times New Roman", serif;
}
code {
  font-family: monospace;
}
pre code {
  font-family: monospace;
  font-size: .85em;
}
