body {
  font-family: Arial, sans-serif;
}
blockquote {
  font-family: "Times New Roman", serif;
}
code {
  font-family: Courier, monospace;
}
pre code {
  font-family: Courier, monospace;
  font-size: .85em;
}
