{{ partial "header.html" . }}
<div class="container {{ replaceRE " " "-" .Type }}">
<article>
<div class="article-meta">
  {{- if eq .Type "page" }}{{else}}
  <div class="categories">
    <a href="{{ relURL (print .Type | urlize) }}">{{ .Type }}</a>
  </div>
  {{- end }}
  <h1><span class="title">{{ .Title }}</span></h1>
  {{- if .Params.author }}
  <h3 class="author">{{ partial "author_names.html" . }}</h3>
  {{- end }}
  {{- if .Params.summary }}
  <p class="summary">{{ .Params.summary }}</p>
  {{- end }}
</div>
{{- if .Params.toc }}
{{- .TableOfContents }}
{{- end }}
<main>
{{ .Content -}}
</main>

{{- partial "prev_next.html" . -}}
</article>
</div>

{{ partial "footer.html" . }}
